n8n/workflows/job-scraper-automation.json
{
  "name": "Actuarial Job Scraper Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "b1d23a9e-f7ef-4f6d-ad9a-04a2e9a08a33",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1456,
        112
      ],
      "notes": "Runs daily at 2 AM IST"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.scraperUrl }}/api/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"location\": \"{{ $json.location }}\",\n  \"keywords\": {{ JSON.stringify($json.keywords) }},\n  \"max_pages\": {{ $json.maxPages }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4790f863-fbf0-471d-9ee4-7222fd9c8295",
      "name": "Trigger Job Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1056,
        112
      ]
    },
    {
      "parameters": {
        "amount": 300
      },
      "id": "79a911a2-6ace-4ef0-b06f-04c64329b45b",
      "name": "Wait for Scraping (5 min)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        112
      ],
      "webhookId": "scrape-wait"
    },
    {
      "parameters": {
        "url": "={{ $('Setup Configuration').item.json.scraperUrl }}/api/jobs?limit=500",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b7fe55f3-0212-4ada-9e4b-0e44ed87a367",
      "name": "Get Scraped Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate jobs\nconst response = $input.first().json;\nconst jobs = response.jobs || [];\nconst config = $('Setup Configuration').first().json;\n\nconsole.log(`📥 Received ${jobs.length} jobs from scraper`);\n\n// Filter valid jobs\nconst validJobs = jobs.filter(job => {\n  return job.title && \n         job.company && \n         job.location && \n         job.url &&\n         job.source;\n});\n\nconsole.log(`✅ ${validJobs.length} valid jobs`);\n\n// Remove duplicates based on URL\nconst uniqueJobs = [];\nconst seenUrls = new Set();\n\nfor (const job of validJobs) {\n  if (!seenUrls.has(job.url)) {\n    seenUrls.add(job.url);\n    uniqueJobs.push({\n      id: job.id || Buffer.from(`${job.title}|${job.company}|${job.location}`).toString('base64').slice(0, 32),\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      description: job.description || '',\n      salary: job.salary || undefined,\n      url: job.url,\n      source: job.source,\n      jobType: job.jobType || 'full-time',\n      experienceLevel: job.experienceLevel || 'mid',\n      skills: job.skills || [],\n      qualifications: job.qualifications || [],\n      certifications: job.certifications || [],\n      posted_date: job.posted_date || new Date().toISOString().split('T')[0],\n      featured: job.featured || false\n    });\n  }\n}\n\nconsole.log(`✨ ${uniqueJobs.length} unique jobs after deduplication`);\n\n// Return as single item with all jobs (for batch API call)\nreturn [{ \n  json: { \n    jobs: uniqueJobs,\n    count: uniqueJobs.length,\n    portalUrl: config.portalUrl,\n    startedAt: config.startedAt\n  } \n}];"
      },
      "id": "536efe03-5473-4603-8eb9-fe1ad2114cdc",
      "name": "Filter & Transform Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d693e74-c67d-4fd7-b842-8a12dfdf7fba",
      "name": "Jobs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.portalUrl }}/api/jobs/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.jobs) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "5a6a5974-1d1c-40bd-8180-4557d9157e6b",
      "name": "Save Jobs to Portal & MongoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "b132P8ZmoI5AxJTH",
          "name": "Portal API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Setup Configuration').item.json.portalUrl }}/api/jobs/stats",
        "options": {
          "timeout": 15000
        }
      },
      "id": "257fd9a5-21aa-469c-bf7c-889c1dfd449e",
      "name": "Get Job Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Configuration').item.json.portalUrl }}/api/webhooks/job-scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"scrape_complete\",\n  \"data\": {\n    \"total_active_jobs\": {{ $json.stats?.activeJobs || 0 }},\n    \"jobs_scraped\": {{ $('Filter & Transform Jobs').item.json.count }},\n    \"jobs_saved\": {{ $('Save Jobs to Portal & MongoDB').item.json.data?.inserted || 0 }},\n    \"jobs_updated\": {{ $('Save Jobs to Portal & MongoDB').item.json.data?.updated || 0 }},\n    \"timestamp\": \"{{ $now.toISO() }}\",\n    \"started_at\": \"{{ $('Setup Configuration').item.json.startedAt }}\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "14c8cf1a-bfa7-4dc8-8f3a-c974d6d153d8",
      "name": "Send Webhook Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// No jobs found - log and continue\nconst config = $('Setup Configuration').first().json;\n\nconsole.log('⚠️ No valid jobs found in this scrape run');\nconsole.log(`Config: ${JSON.stringify(config)}`);\n\nreturn [{ \n  json: { \n    message: 'No valid jobs found',\n    startedAt: config.startedAt,\n    completedAt: new Date().toISOString(),\n    portalUrl: config.portalUrl\n  } \n}];"
      },
      "id": "ed04f464-698e-43f4-931c-09e4bdd77d10",
      "name": "No Jobs Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup Configuration').item.json.portalUrl }}/api/jobs/bulk-update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"delete\",\n  \"filters\": {\n    \"minAge\": 90\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "31030e96-5afa-4282-9f83-91026bba3a6e",
      "name": "Cleanup Old Jobs (90+ days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "b132P8ZmoI5AxJTH",
          "name": "Portal API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store start time and configuration\nconst config = {\n  startedAt: new Date().toISOString(),\n  location: 'India',\n  keywords: ['actuarial analyst', 'actuary', 'actuarial scientist', 'risk analyst', 'insurance analyst'],\n  maxPages: 5,\n  // CHANGE THIS to your actual host IP address\n  // Read IP from an environment variable.\n  portalHost: $json.PORTAL_HOST || '192.168.1.104',\n  portalPort: $json.PORTAL_PORT || 4321,\n  scraperHost: $json.SCRAPER_HOST || 'scraper-api',\n  scraperPort: $json.SCRAPER_PORT || 5000\n};\n\nconfig.portalUrl = `http://${config.portalHost}:${config.portalPort}`;\nconfig.scraperUrl = `http://${config.scraperHost}:${config.scraperPort}`;\n\nconsole.log('🚀 Starting job scraper automation');\nconsole.log(`Portal URL: ${config.portalUrl}`);\nconsole.log(`Scraper URL: ${config.scraperUrl}`);\n\nreturn { json: config };"
      },
      "id": "e25a235f-abbd-41ef-9297-9be29f6b5fcb",
      "name": "Setup Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Setup Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Job Scraper": {
      "main": [
        [
          {
            "node": "Wait for Scraping (5 min)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Scraping (5 min)": {
      "main": [
        [
          {
            "node": "Get Scraped Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraped Jobs": {
      "main": [
        [
          {
            "node": "Filter & Transform Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Transform Jobs": {
      "main": [
        [
          {
            "node": "Jobs Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs Found?": {
      "main": [
        [
          {
            "node": "Save Jobs to Portal & MongoDB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Jobs to Portal & MongoDB": {
      "main": [
        [
          {
            "node": "Get Job Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Statistics": {
      "main": [
        [
          {
            "node": "Send Webhook Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Webhook Notification": {
      "main": [
        [
          {
            "node": "Cleanup Old Jobs (90+ days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Configuration": {
      "main": [
        [
          {
            "node": "Trigger Job Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "00e9172c-d802-498c-9861-74b1011fe97e",
  "meta": {
    "instanceId": "c89cbbc1ce570a6f3efd5473052949147993060820af9842b09b1ff84a994dfa"
  },
  "id": "sdDM7PrRZoLXt1Hf",
  "tags": []
}