n8n/workflows/job-scraper-direct-import.json
{
  "name": "Actuarial Job Scraper - Direct Command + Import",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        240
      ],
      "notes": "Runs daily at 2 AM"
    },
    {
      "parameters": {
        "command": "cd /workspace/openalumns && python3 -u scripts/python/job_scraper.py"
      },
      "id": "execute-scraper",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "notes": "Runs the scraper directly in the mounted repo."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-command-success",
      "name": "Command Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        240
      ]
    },
    {
      "parameters": {
        "command": "cd /workspace/openalumns && cat actuarial_jobs_india.json"
      },
      "id": "load-json",
      "name": "Load Scraped JSON",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -432,
        160
      ],
      "notes": "Reads scraper output file generated by the prior command."
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.stdout || '').trim();\nlet jobs = [];\n\ntry {\n  jobs = JSON.parse(raw);\n} catch (error) {\n  throw new Error(`Unable to parse actuarial_jobs_india.json from stdout: ${error.message}`);\n}\n\nif (!Array.isArray(jobs)) {\n  throw new Error('Expected an array of jobs in actuarial_jobs_india.json');\n}\n\nconst normalizedJobs = jobs.filter((job) => job && job.title && job.company && job.location && job.url);\n\nreturn [{\n  json: {\n    jobs: normalizedJobs,\n    count: normalizedJobs.length\n  }\n}];"
      },
      "id": "parse-jobs-array",
      "name": "Parse Jobs JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-jobs-found",
      "name": "Jobs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PORTAL_URL || 'http://host.docker.internal:4321' }}/api/jobs/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jobs }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "save-jobs-to-portal",
      "name": "POST /api/jobs/create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        80
      ],
      "notes": "Requires an HTTP Header Auth credential with x-api-key.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "replace-me",
          "name": "Portal API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'Scraper command failed', exitCode: $('Execute Command').item.json.exitCode, stderr: $('Execute Command').item.json.stderr || '' } }];"
      },
      "id": "command-failed",
      "name": "Command Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'No jobs found after parsing JSON output', count: $json.count || 0 } }];"
      },
      "id": "no-jobs-found",
      "name": "No Jobs Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        240
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Command Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Succeeded?": {
      "main": [
        [
          {
            "node": "Load Scraped JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Scraped JSON": {
      "main": [
        [
          {
            "node": "Parse Jobs JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobs JSON": {
      "main": [
        [
          {
            "node": "Jobs Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobs Found?": {
      "main": [
        [
          {
            "node": "POST /api/jobs/create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Jobs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
